<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest YouTube Video Fetcher</title>
</head>
<body>
    <h1>Latest YouTube Video</h1>
    <form action="/" method="POST">
        <fieldset>
            <label>Channel ID</label>
            <input type="text" name="channelID" placeholder="Enter Channel ID"/>
            <button type="submit">Get Latest Video</button>
        </fieldset>
    </form>
    <br/>

    {{if .LatestVideoLink}}
    <h6>Your Latest Youtube Video is:</h6>
    <p>Link: <a target="_blank" href="{{.LatestVideoLink}}">{{.LatestVideoLink}}</a></p>

    <iframe width="560" height="315" src="https://youtube.com/embed/{{.VideoID}}?controls=0&autoplay=1?" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen anonymous></iframe>

    <!-- <h2>Playlists:</h2> -->
    <!-- <ul>
        {{range .Playlists}}
        <li><a href="{{.URL}}" target="_blank">{{.Title}}</a></li>
        {{end}}
    </ul> -->
    {{end}}
</body>
</html>